In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time
from selenium.webdriver.chrome.options import Options
import os

In [2]:
#Load HTML Files here:

In [3]:
HTMLFile1 = open(r"C:\Users\Nicko\Notebooks\dbazzar_table\8-8-2021-1.html", encoding="utf8")
HTMLFile2 = open(r"C:\Users\Nicko\Notebooks\dbazzar_table\8-8-2021-2.html", encoding="utf8")
HTMLFile3 = open(r"C:\Users\Nicko\Notebooks\dbazzar_table\8-8-2021-3.html", encoding="utf8")
HTMLFile4 = open(r"C:\Users\Nicko\Notebooks\dbazzar_table\8-8-2021-4.html", encoding="utf8")
HTMLFile5 = open(r"C:\Users\Nicko\Notebooks\dbazzar_table\8-8-2021-5.html", encoding="utf8")
HTMLFile6 = open(r"C:\Users\Nicko\Notebooks\dbazzar_table\8-8-2021-6.html", encoding="utf8")
HTMLFile7 = open(r"C:\Users\Nicko\Notebooks\dbazzar_table\8-8-2021-7.html", encoding="utf8")

index1 = HTMLFile1.read()
index2 = HTMLFile2.read()
index3 = HTMLFile3.read()
index4 = HTMLFile4.read()
index5 = HTMLFile5.read()
index6 = HTMLFile6.read()
index7 = HTMLFile7.read()

In [4]:
#Convert to dataframe

In [5]:
df1 = pd.read_html(index1)[0]
df2 = pd.read_html(index2)[0]
df3 = pd.read_html(index3)[0]
df4 = pd.read_html(index4)[0]
df5 = pd.read_html(index5)[0]
df6 = pd.read_html(index6)[0]
df7 = pd.read_html(index7)[0]

In [6]:
#Cleaning Methods

In [7]:
def clean_date(date):
    return date[:10]

In [8]:
def clean_total(total):
    if total == 'RM':
        return 0
    else:
        string = total[3:]
        return float(string)

In [ ]:
#Create and Clean Dataframe

In [9]:
df_ls = [df2,df3,df4,df5,df6,df7]

In [10]:
df = df1.append(df_ls)

In [11]:
df.drop_duplicates(subset ="ID", inplace = True)

In [12]:
df['Order Date/Time'] = df['Order Date/Time'].apply(clean_date)

In [13]:
df = df[df['Order Date/Time'] == '2021-08-08']

In [14]:
df = df[df['Status'] != 'Cancelled']

In [15]:
df['Total'] = df['Total'].apply(clean_total)

In [17]:
df

,ID,Unnamed: 1,Customer,Order Date/Time,Total,rider,Payment Status,Status,Type,Actions
47,33610,Topup Topup,PAU KEK NGIIK (0128891922),2021-08-08,50.0,NaN,Not Paid,Completed,E-Wallet Topup,NaN
48,33609,Lazyhp 懒人锅(Sibu) Lazyhp 懒人锅(Sibu)-Coming Soon,robbins hii hiong sing (0138519938),2021-08-08,55.0,NaN,Paid,Completed,Scan & Pay,NaN
49,33608,Topup Topup,Floren anak Agan (0162698146),2021-08-08,50.0,NaN,Paid,Completed,E-Wallet Topup,NaN
50,33607,Excellent Book Co(Sibu) Excellent Book Co(Sibu...,Florence Wong Poh Hong (0165761115),2021-08-08,20.0,NaN,Paid,Completed,Scan & Pay,NaN
51,33606,Excellent Book Co(Sibu) Excellent Book Co(Sibu...,Ting Kah Chai (0165754848),2021-08-08,20.0,NaN,Paid,Completed,Scan & Pay,NaN
...,...,...,...,...,...,...,...,...,...,...
56,33007,Park-In (Sibu) Park-In (Sibu),Su Teck Mew (0168885771),2021-08-08,20.5,NaN,Paid,Completed,Scan & Pay,NaN
57,33006,Topup Topup,She Kui Fun Classic (0138492400),2021-08-08,35.0,NaN,Paid,Completed,E-Wallet Topup,NaN
58,33005,Park-In (Sibu) Park-In (Sibu),chiew hua fung (0138088288),2021-08-08,104.1,NaN,Paid,Completed,Scan & Pay,NaN
59,33004,Topup Topup,Lau Siong Ngee (60198220383),2021-08-08,50.0,NaN,Not Paid,Completed,E-Wallet Topup,NaN
60,33003,Topup Topup,Lau Siong Ngee (60198220383),2021-08-08,50.0,NaN,Not Paid,Completed,E-Wallet Topup,NaN

In [ ]:
#Top Up Sum

In [18]:
Topupdf = df[df['Payment Status'] == 'Paid']

In [25]:
Topupdf[Topupdf['Type'] == 'E-Wallet Topup']['Total'].sum()

1908.2

In [114]:
df['Type'].value_counts()

Scan & Pay         316
E-Wallet Topup     193
Takeaway            59
Delivery            33
E-Voucher Topup      4
Name: Type, dtype: int64

In [73]:
date = '2021-08-08'

In [ ]:
#Create Function:

In [27]:
def collect_data(date,df1,df_ls):
    #create df
    df = df1.append(df_ls)
    df.drop_duplicates(subset ="ID", inplace = True)
    #clean df
    df['Order Date/Time'] = df['Order Date/Time'].apply(clean_date)
    df = df[df['Order Date/Time'] == date]
    df = df[df['Status'] != 'Cancelled']
    df['Total'] = df['Total'].apply(clean_total)
    #get Topup Sum
    Topupdf = df[df['Payment Status'] == 'Paid']
    return df['Type'].value_counts(), Topupdf[Topupdf['Type'] == 'E-Wallet Topup']['Total'].sum()

In [ ]:
collect_data()